@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Spirax')
@import url('https://fonts.googleapis.com/css?family=Rubik:300')

$white: #FFF
$black: #000
$light-gray: #eee
$dark-gray: #666
$link-color: #4d4dff
$dark-blue: #232a34
$dark-green: #103c3d

$break-small: 480px
$break-medium: 768px

$montserrat: 'Montserrat', sans-serif

html, body
	top: 0

body, header, #body, footer
	font-family: $montserrat

body, section, footer
	color: $white
	background: $black

.wrapper
	width: 60%
	margin-left: auto
	margin-right: auto

header
	height: 80px
	position: absolute
	top: 0
	left: 0
	right: 0
	z-index: 999
	padding-top: 20px
	display: block
	background-color: $dark-blue

	#logo
		font-size: 32px
		font-family: 'Spirax', cursive
		color: $white

section
	text-align: center

	.page
		height: 700px
		padding-top: 100px
		font-family: $montserrat

		.card-wrapper
			display: flex
			flex-direction: row
			justify-content: center

			.card
				display: inline-block
				background-color: rgba(0, 0 , 0, 0.1)
				height: 400px
				font-size: 14px
				margin: 0 20px 0 20px
				padding: 50px 20px 50px 20px

				a
					margin-bottom: 5px
					color: #d8f0f3
					text-decoration: none

				div
					margin-bottom: 5px

		.slogan
			margin-bottom: 50px

		i
			margin: 10px
			border: 2px solid $white
			border-radius: 100%
			padding: 10px
			background-color: $dark-blue

		.icon
			font-size: 24px
			color: $white


	.page1
		background-color: $dark-green

	.page2
		background-color: $dark-blue

footer
	background-color: $dark-blue
	font-size: 14px
	height: 30px

	div
		width: 100%
		line-height: 30px
		margin-right: auto
		margin-left: auto
		text-align: center

table
	font-family: 'Rubik', sans-serif
	width: 100%
	text-align: left
	border-top: 2px solid #FFFFFF

	tr
		.col_1
			width: 23%

		.col_2
			width: 27%

		.col_3
			width: 50%


@media screen and (max-width: 768px)

@media screen and (min-width: 769px) and (max-width: 1024px)
